<!DOCTYPE html>
<html>

<head>
    <title>{{title}} - BASKET CASE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=A0Rejx4BOa">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=A0Rejx4BOa" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=A0Rejx4BOa" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=A0Rejx4BOa">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=A0Rejx4BOa" color="#2d3d50">
    <link rel="shortcut icon" href="/favicon.ico?v=A0Rejx4BOa">
    <meta name="theme-color" content="#2d3d50">
</head>

<body>
    {{{body}}}
</body>

</html>
